[submodule "dependency/json"]
	path = dependency/json
	url = https://github.com/nlohmann/json
[submodule "dependency/pathfinding"]
	path = dependency/pathfinding
	url = https://github.com/ldslds449/PathFinding.git
