[submodule "dependency/pathfinding"]
	path = dependency/pathfinding
	url = https://github.com/ldslds449/PathFinding.git
[submodule "dependency/dpp"]
	path = dependency/dpp
	url = https://github.com/brainboxdotcc/DPP
[submodule "dependency/tomlplusplus"]
	path = dependency/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "dependency/botcraft"]
	path = dependency/botcraft
	url = https://github.com/ldslds449/Botcraft
